html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}


/* above is html5 reset of stylesheet */
@font-face {
    font-family: Roboto;
    src: fonts/Roboto-Black.tff;
}

h1{
	font-size: 2em;
}
h2{
	font-size: 1.5em;
	
}
h3{
	font-size: 1.3em;
	
}
h4{
	font-size: 1em;
	
}
h5{
	font-size: 0.8em;
	
}
h6{
	font-size: 0.7em;
	
}
h1,h2,h3,h4,h5,h6{
	display: inline;
}
.container-fluid{
	color:#000000;
	width: 100%;
	height: 100%;

}
#main-head{
	text-align: center;
	font-size: 24px;
}
.navbar-brand{
	padding-bottom: 30px;
}
.form-group label{
    text-align: left;
}
 #mainsubmit{
    width:500px;
    background-color: #d2d2d2;
    height: 500px;
}
#footer{
    bottom: 0;
    font-size: 12px;
    height: 250px;
    padding: 20px 50px 20px 50px;
    background-color: #855439;
    color:#dddddd;
}
#footer a{
color:#dddddd; 
text-decoration: none;   
padding-top: 10px;
}

#footer_copyright{
color:#ffffff;  
background-color: #000000;
height: 30px;
padding-top: 5px;

}
body{
    background-color: #ffedca;
}